@import url('https://fonts.googleapis.com/css?family=Lato:700|Open+Sans:600&display=swap');

body {
	font-family: "Lato", sans-serif;
	background-color: #D3D3D3;
}


p {
	font-family: "Lato", sans-serif;
}

.fish {
	color: orange;
	text-decoration: underline;
}

.mammal {
	color: #c12033;
	font-weight: bold;
}	

.birds {
	color: #192957;
	font-style: italic;
}

ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
}


li {
	background-color: #ffffff;
	padding: 30px;
	font-size: 30px;
	width: 15%;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

li:hover {
	opacity: 0.5;x
}
